/* SignIn.module.css */
/*Esta es la cajita que te aparece cuando vas a SignIn*/
/* SignIn.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.form {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
}

.input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button {
    width: 100%;
    padding: 0.75rem;
    background-color: #4C3021;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #7C5740;
}
